{{ define "apps_palette" }}

  <div class="palette">

    <header class="page-header">
      <h1>Apps</h1>
      <p>Easily configure and launch open source services</p>
    </header>

    <section>
      <header>
        <h3>Databases</h3>
      </header>


      <ul class="palette-list">
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-mongodb.svg);">MongoDB</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-postgresql.svg);">PostgreSQL</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-cassandra.svg);">Cassandra</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-redis.svg);">Redis</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-mysql.svg);">MySQL</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-etcd.svg);">etcd</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-mssql.svg);">Microsoft SQL</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-couchbase.svg);">Couchbase</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-neo4j.svg);">Neo4j</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-memcached.svg);">Memcached</a>
        </li>
        <li>
          <a href="#" style="background-image: url(/ui/assets/img/applogo-elasticsearch.svg);">Elasticsearch</a>
        </li>
      </ul>
    </section>

    <section>
      <header>
        <h3>Custom</h3>
      </header>

      <ul class="palette-list">
        <li>
          <a href="#" class="app-custom">Custom</a>
        </li>
      </ul>
    </section>

  </div>

{{ end }}
