{{ define "apps_list" }}

  <!-- JS -->
  <script src="/ui/assets/js/index.js"></script>


  <div id="control-bar" class="app-content-control">

    <div class="btn-group">
      {{ if .showNewLink }}
        {{ if .newOptions }}
          <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#new_options" id="new">New</a>
        {{ else }}
          <a class="btn btn-primary" href="{{ .uiBasePath }}/new" id="new">New</a>
        {{ end }}
      {{ end }}

      {{ if or .actionPaths .batchActionPaths }}

        <div class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions</button>
          <ul class="dropdown-menu">
            {{ range $label, $path := .actionPaths }}
              <li><a href="#" data-action-path="{{ $path }}" data-toggle="modal" disabled class="disabled">{{ $label }}</a></li>
            {{ end }}

            {{ if and .actionPaths .batchActionPaths }}
              <li role="separator" class="divider"></li>
            {{ end }}

            {{ range $label, $ap := .batchActionPaths }}
              <li><a href="#" data-method="{{ $ap.method }}" data-batch-action-path="{{ .apiBasePath }}{{ $ap.relativePath }}" data-toggle="modal" data-target="#confirm_action" disabled class="disabled">{{ $label }}</a></li>
            {{ end }}
          </ul>
        </div>

      {{ end }}
    </div>

    <label id="searchbar-icon" for="searchbar"></label>

    <div id="filters"></div>

    <input id="searchbar" type="text" placeholder="field:value">

    <ul id="mini-nav">
      <!-- <li>
        <span style="color: #999; font-size: 11px; font-family: Consolas, Menlo, Courier, monospace;">{{ .supergiantVersion }}</span>
      </li> -->
      <li><a href="#system" data-toggle="modal" data-target="#system">System</a></li>
      <li><a href="#logout" id="logout">Logout</a></li>
    </ul>

    <script type="text/javascript">
    $(function() {

      $('#logout').click(function() {

        $.ajax({
          type: 'DELETE',
          url: '/api/v0/sessions/{{ .sessionID }}',
          beforeSend: function(xhr){
            xhr.setRequestHeader('Authorization', 'SGAPI session="' + getCookie('supergiant_session') + '"');
          },
          success: function() {
            location.reload();
          }
        })

        return false;
      });

    });
    </script>

  </div>


  <div class="app-content-resources visible">
    {{ template "apps_palette" . }}
  </div>


  <div id="item_list_container" class="app-content-main">
    <table id="item_list" class="app-content-table" data-ui-base-path="{{ .uiBasePath }}" data-api-base-path="{{ .apiBasePath }}" data-fields-json="{{ .fieldsJSON }}" data-show-status="{{ .showStatusCol }}">
    </table>

    <nav aria-label="Page navigation" class="app-content-pages">
      <ul class="pagination">
      </ul>
    </nav>
  </div>

{{ end }}
