/* Fonts */
@font-face {
  font-family: 'Hind';
  src: local("HindLight"),
       local("Hind Light"),
       url('../fonts/hind-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Hind';
  src: local("Hind"),
       local("HindRegular"),
       local("Hind-Regular"),
       url('../fonts/hind-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Hind';
  src: local("Hind Medium"),
       local("HindMedium"),
       local("Hind-Medium"),
       url('../fonts/hind-medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind';
  src: local("Hind Semibold"),
       local("HindSemibold"),
       local("Hind-Semibold"),
       url('../fonts/hind-semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Hind';
  src: local("Hind Bold"),
       local("HindBold"),
       local("Hind-Bold"),
       url('../fonts/hind-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"),
       local("MontserratLight"),
       local("Montserrat-Light"),
       url('../fonts/montserrat-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"),
       local("MontserratRegular"),
       local("Montserrat-Regular"),
       url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Semibold"),
       local("MontserratSemibold"),
       local("Montserrat-Semibold"),
       url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"),
       local("MontserratBold"),
       local("Montserrat-Bold"),
       url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
}


/* HTML Styles */

::-webkit-scrollbar {
  background: rgba(0,0,0,0);
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background: rgba(128,128,128,0.33);
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 0 1px rgba(255,255,255,0.3) inset;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0);
}

html, body {
  height: 100%;
  margin: 0;
  background: #f2f1f7;
  overflow: hidden;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

body, input {
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


/* Layout Elements */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
}

.app-layout {
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}
  .app-navigation {
    background: #fff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    width: 250px;
    z-index: 2;
    flex: none;
    order: 1;
  }
  .app-content {
    background: #f2f1f7;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex: 100%;
    left: 250px;
    order: 2;
    position: fixed;
    right: 0;
    top: 0;
  }
    .app-content-control {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      box-sizing: border-box;
      flex: none;
      min-height: 60px;
      min-width: 559px;
      order: 1;
      padding: 0 0.5em;
    }
    .app-content-resources {
      background: #413e50;
      box-shadow: 0 1px 7px rgba(0,0,0,0.1) inset;
      color: #fff;
      display: block;
      flex: none;
      max-height: 0;
      order: 2;
      overflow-x: hidden;
      overflow-y: auto;
      transition: max-height .5s;
    }
    .app-content-resources.visible {
      max-height: 50%;
    }
    .app-content-main {
      flex: 100%;
      order: 3;
      overflow-x: hidden;
      overflow-y: auto;
    }
      .app-content-table {}
      .app-content-nav {}

#logo {
  background: url(../img/supergiant.svg) no-repeat;
  background-position: 60px 50%;
  background-size: 130px auto;
  display: block;
  height: 160px;
  text-indent: -9999px;
}

#nav {}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

#nav li > a,
#nav li > a:visited {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-size: 13px;
  display: block;
  padding: 13px 0 13px 60px;
  border-top: 1px solid #ddd;
  background: #fff;
}

#nav a:hover,
#nav a:focus,
#nav a:active {
  background: rgba(0,0,0,0.05);
}

#nav li > a.active {
  background: #0e6ccc;
  color: white;
}

#nav li:last-child > a {
  border-bottom: 1px solid #ddd;
}

#nav li > a > i.fa {
  display: block;
  margin: 2px 0 0 -20px;
  opacity: 0.4;
  position: absolute;
  text-align: center;
  width: 1em;
}

#nav .toggle-menu {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}
#nav .toggle-menu:hover,
#nav .toggle-menu:focus {
  background: rgba(0,0,0,0.05);
}
#nav li > a.active + .toggle-menu::before {
  color: rgba(255,255,255,0.33);
}
#nav li > a.active + .toggle-menu:hover,
#nav li > a.active + .toggle-menu:focus {
  background: rgba(255,255,255,0.2);
}
#nav .toggle-menu::before {
  content: "\f054";
  display: block;
  font-family: "FontAwesome";
  line-height: 45px;
  text-align: center;
  color: rgba(0,0,0,0.2);
  font-size: .67em;
}

#nav .toggle-menu > input[type="radio"] {
  display: none;
}
#nav .toggle-menu > menu {
  background: rgba(255,255,255,0.93);
  box-shadow: 0 4px 7px rgba(0,0,0,0.1);
  font-family: "Montserrat", sans-serif;
  left: 24px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  width: 200px;
}

#nav .toggle-menu > input[type="radio"] ~ menu {
  display: none;
}
#nav .toggle-menu > input[type="radio"]:checked ~ menu {
  display: block;
}

#nav .toggle-menu > menu label {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  display: block;
  font-weight: 300;
  padding: 13px 10px;
}
#nav .toggle-menu > menu menuitem a {
  color: #595959;
  display: block;
  padding: 10px;
}
#nav .toggle-menu > menu menuitem a:hover,
#nav .toggle-menu > menu menuitem a:focus {
  background: rgba(0,0,0,0.05);
}



a#new::after {
  content: "+";
  font-size: 17px;
  left: 8px;
  line-height: 0;
  padding-right: 3px;
  position: relative;
  top: 2px;
}



button.dropdown-toggle::after {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 0.85em;
  margin-left: 0.5em;
  opacity: 0.7;
  position: relative;
  top: -0.15em;
}


button {
  outline: none;
}


.btn-group {
  display: inline-block;
  padding: 12px;
}

.btn {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 1px;
  padding: 9px 14px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  outline: none;
}

.btn.btn-primary {
  background: #0e6ccc;
  color: white;
  text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #0d61b7;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.dropdown-toggle.open {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.btn-default {
  border: 1px solid #b4b4b4;
  background: #f3f3f3;
  color: #4e4e4e;
}

.btn.btn-default:focus,
.btn.btn-default:hover {
  background: #ebebeb;
}












.dropdown {
  position: relative;
  display: inline-block;
}

ul.dropdown-menu {
  display: none;

  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px 0px;
  background-clip: padding-box;
  position: absolute;
  list-style-type: none;
  min-width: 160px;
  margin: 1px 0 5px 0;
  padding: 5px 0;
  left: 1px;
}

ul.dropdown-menu.open {
  display: block;
}

ul.dropdown-menu li a {
  display: block;
  padding: 4px 13px;
  font-size: 14px;
  white-space: nowrap;
}

ul.dropdown-menu li a:focus,
ul.dropdown-menu li a:hover {
  background-color: rgba(0,0,0,0.05);
}

ul.dropdown-menu li a.disabled {
  pointer-events: none;
  color: #888;
}

ul.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  background-color: #e5e5e5;
}





table#item_list {
  min-width: 600px;
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  font-size: 13px;
}

table#item_list td, table#item_list th {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table#item_list th {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #999;
  padding: 8px 0;

  font-weight: normal;
}

table#item_list th:first-child {
  width: 60px;
}

table#item_list td {
  padding: 18px 0;
}

table#item_list a:focus,
table#item_list a:hover,
table#item_list a:active {
  color: #0e6ccc;
  text-decoration: underline;
}







input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
  background: white;
  border: 1px solid #bbb;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  margin: auto;
  left: -2px;
}

.checkbox:hover,
.checkbox:focus {
  border: 1px solid #9c9c9c;
}

.checkbox label {
  cursor: pointer;
	opacity: 0;
	width: 17px;
	height: 17px;
  background: #0e6ccc;
  top: -1px;
  left: -1px;
  position: absolute;
	border-radius: 50%;
}

.checkbox label:after {
  position: absolute;
	content: '';
	width: 7px;
	height: 7px;
  top: 5px;
  left: 5px;
  background: white;
	border-radius: 50%;
}

.checkbox input[type=checkbox]:checked + label {
	opacity: 1;
}








input#searchbar {
  background: none;
  border: none;
  height: 30px;
  padding-left: 10px;
  width: 300px;
}

input#searchbar:focus {
  outline: none;
}

#searchbar-icon {
  border-left: 1px solid #e0e0e0;
  display: inline-block;
  height: 32px;
  line-height: 31px;
  padding-left: 14px;
  position: relative;
  text-align: right;
  vertical-align: middle;
  width: 32px;
}
#searchbar-icon::before {
  color: #bbb;
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 16px;
}





#filters {
  position: absolute;
  z-index: 100;
  top: 20px;
  display: inline-block;
}

.search-filter {
  background: #999999;
  color: white;
  font-size: 12px;
  padding: 6px 13px;
  border-radius: 50px;
  padding-right: 18px;
  position: relative;
  display: inline-block;
  bottom: 5px;
  margin-left: 8px;
  left: 4px;
}

.search-filter .close {
  line-height: 15px;
  text-shadow: none;
  float: right;
  font-size: 18px;
  font-weight: 400;
  color: white;
  filter: alpha(opacity=40);
  opacity: .4;
  position: relative;
  left: 7px;
}

.search-filter .close:focus,
.search-filter .close:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=80);
  opacity: .8;
}










.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.75);
}

.modal-dialog {
  position: relative;
  width: 600px;
  margin: 30px auto;
}

.modal-content {
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header h4 {
  margin: 0;
  font-size: 16px;
}

.modal-body {
  padding: 15px;
  font-size: 14px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}





.page-header {
  text-align: center;
  color: #fff;
}
.page-header h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}
.page-header p {
  font-size: 1.33em;
  font-weight: 300;
  line-height: 1;
  margin: 1em 0;
  color: rgba(255,255,255,0.67)
}





/* Particular Pages */

.login-layout {
  background: #413e50;
  display: table;
  height: 100%;
  width: 100%;
}
.login-form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.login-form form {
  background: rgba(255,255,255,0.1);
  margin: 0 auto;
  max-width: 300px;
  text-align: left;
}



.palette {
  padding: 1em;
}
.palette section {
  margin: 1.5em 0;
}
.palette section::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
}
.palette section header {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5em;
  text-align: center;
}
.palette section header h3 {
  color: rgba(255,255,255,0.5);
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}

.palette-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.palette-list li {
  box-sizing: border-box;
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1em;
  padding: 1em 1em 1em 0;
  vertical-align: top;
  width: 20%;
}
.palette-list li + li {
  padding-left: 1em;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .palette-list li {
    width: 50%;
  }
  .palette-list li:nth-child(2n) {
    padding-right: 0;
  }
  .palette-list li:nth-child(2n+1) {
    clear: both;
    padding-left: 0;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .palette-list li {
    width: 33.33%;
  }
  .palette-list li:nth-child(3n) {
    padding-right: 0;
  }
  .palette-list li:nth-child(3n+1) {
    clear: both;
    padding-left: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1279px) {
  .palette-list li {
    width: 25%;
  }
  .palette-list li:nth-child(4n) {
    padding-right: 0;
  }
  .palette-list li:nth-child(4n+1) {
    clear: both;
    padding-left: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {
  .palette-list li {
    width: 20%;
  }
  .palette-list li:nth-child(5n) {
    padding-right: 0;
  }
  .palette-list li:nth-child(5n+1) {
    clear: both;
    padding-left: 0;
  }
}

.palette-list li a {
  background-color: rgba(255,255,255,0.05);
  background-position: 50% 1em;
  background-repeat: no-repeat;
  background-size: 80% 45px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.8);
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
  padding: 70px 1.5em 1.5em;
  position: relative;
  text-align: center;
}
.palette-list li a.app-custom::before {
  content: "\f055";
  font-family: FontAwesome;
  font-size: 50px;
  left: 0;
  opacity: 0.33;
  position: absolute;
  top: 16px;
  width: 100%;
}
.palette-list li a::after {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
  content: "";
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
  width: 100%;
  left: 0;
  top: 0;
}
.palette-list li a:focus::after,
.palette-list li a:hover::after {
  opacity: 1;
}




.form-group {
  margin-bottom: 15px;
}



/*TODO legacy from bootstrap*/
/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 10px;
}*/

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


textarea.form-control {
  height: auto;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
  background: aliceblue;
  line-height: 20px;
}






.text-muted {
  opacity: 0.6;
}

.text-primary, .text-info {
  color: #0e6ccc;
}

.text-danger {
  color: #CC0000;
}

.text-success {
  color: #19ce55;
}

.text-warning {
  color: #ffbb33;
}



.status-text {
  position: relative;
  bottom: 6px;
  left: 7px;
}




.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}

.status:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  position: relative;
}

.status-ok {
  border: 1px solid #19ce55;
}

.status-ok:after {
  background: #19ce55;
}

.status-warning {
  border: 1px solid #ffbb33;
}

.status-warning:after {
  background: #ffbb33;
}

.status-danger {
  border: 1px solid #CC0000;
}

.status-danger:after {
  background: #CC0000;
}

.status-transitioning {
  border: 1px solid white;
  border-top-color: rgba(14, 108, 204, 1);
  border-left-color: rgba(14, 108, 204, 1);
  animation-name: rotate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.status-transitioning:after {
  background: #0e6ccc;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}











.pagination {
  display: inline-block;
  padding-left: 0;
  /*margin: 20px 0;*/
  border-radius: 4px;

  float: right;
  margin: 16px;

}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #0e6ccc;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #0e6ccc;
  border-color: #0e6ccc;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}














/*This is for the resource graphs*/
.graph-line {
  fill: none;
  stroke-width: 3px;
}


.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}









ul#mini-nav {
  display: inline-block;
  list-style-type: none;
  position: absolute;
  right: 10px;
}

ul#mini-nav li {
  display: inline-block;
  padding: 6px 10px;
}

ul#mini-nav li a {
  color: #999;
  text-decoration: underline;
}

ul#mini-nav li a:focus,
ul#mini-nav li a:hover {
  color: #444;
}





div#log {
  border-radius: 4px;
  background: #222;
  color: #777;
  white-space: pre-wrap;
  height: 400px;
  padding: 0 0 0 15px;
  overflow-y: scroll;
  font-family: Consolas, Menlo, Courier, monospace;
}




/* Bootstrap legacy */
.sr-only {
  display: none;
}




form {
  padding: 15px;
}
